* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 235, 229);
  background-image: url(img/img1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0px 200px 0px 200px; 
}
h1 {
  color: antiquewhite;
  font-size: 80px;
  text-align: center;
  margin: 10px;
  font-style: italic;
}
h2{
  color: bisque;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
p{
  font-size: 20px;
  color: bisque;
  width: 230px;
  text-align: center;
}
img {
  width: 230px;
  height: 300px;
  margin: 20px auto;
}
div {
  display: inline-block;
  border: solid 5px #babbff;
  border-radius: 20px;
  padding: 30px;
}
div.imagen1 img {
  filter: drop-shadow(20px 10px 20px rgb(0, 97, 15));
}
div.imagen2 img {
  filter: drop-shadow(20px 20px 20px rgb(187, 255, 0));
}
div.imagen3 img {
  filter: drop-shadow(20px 20px 20px rgb(249, 180, 4));
}
div.imagen4 img {
  filter: drop-shadow(20px 20px 20px rgb(235, 11, 11));
}
div.imagen5 img {
  filter: drop-shadow(20px 20px 20px rgb(12, 225, 19));
}
div.imagen6 img {
  filter: drop-shadow(20px 20px 20px rgb(54, 25, 181));
}
div.imagen7 img {
  filter: drop-shadow(20px 20px 20px rgb(186, 99, 106));
}
div.imagen8 img {
  filter: drop-shadow(20px 20px 20px rgb(160, 66, 135));
}
div.imagen9 img {
  filter: drop-shadow(20px 20px 20px rgb(62, 90, 184));
}
div.imagen10 img {
  filter: drop-shadow(20px 20px 20px rgb(12, 152, 70));
}
div.imagen11 img {
  filter: drop-shadow(20px 20px 20px rgb(175, 55, 219));
}
div.imagen12 img {
  filter: drop-shadow(20px 20px 20px rgb(66, 225, 237));
}
div.imagen13 img {
  filter: drop-shadow(20px 20px 20px rgb(227, 75, 220));
}
div.imagen14 img {
  filter: drop-shadow(20px 20px 20px rgb(116, 31, 185));
}
div.imagen15 img {
  filter: drop-shadow(20px 20px 20px rgb(198, 22, 214));
}
div.imagen16 img {
  filter: drop-shadow(20px 20px 20px rgb(14, 114, 47));
}
div.imagen17 img {
  filter: drop-shadow(20px 20px 20px rgb(81, 48, 156));
}
div.imagen18 img {
  filter: drop-shadow(20px 20px 20px rgb(212, 103, 233));
}
div.imagen19 img {
  filter: drop-shadow(20px 20px 20px rgb(243, 183, 55));
}
div.imagen20 img {
  filter: drop-shadow(20px 20px 20px rgb(230, 90, 55));
}
div.imagen21 img {
  filter: drop-shadow(0px 0px 20px rgb(191, 7, 242));
}
div.imagen22 img {
  filter: drop-shadow(20px 20px 20px rgba(186, 75, 245, 0.813));
}
div.imagen23 img {
  filter: drop-shadow(0px 0px 20px rgb(189, 189, 36));
}
div.imagen24 img {
  filter: drop-shadow(20px 20px 20px rgb(214, 185, 56));
}
div.imagen25 img {
  filter: drop-shadow(0px 0px 30px rgb(107, 144, 255));
}
div.imagen26 img {
  filter: drop-shadow(20px 20px 20px rgb(165, 136, 202));
}
div.imagen27 img {
  filter: drop-shadow(0px 0px 10px rgb(243, 175, 48));
}
div.imagen28 img {
  filter: drop-shadow(0px 0px 10px rgb(29, 191, 240));
}
div.imagen29 img {
  filter: drop-shadow(0px 0px 10px rgb(231, 76, 130));
}
div.imagen30 img {
  filter: drop-shadow(0px 0px 10px rgb(235, 134, 198));
}
div.imagen31 img {
  filter: drop-shadow(10px 10px 50px rgba(255, 170, 73, 0.919));
}
div.imagen32 img {
  filter: drop-shadow(0px 0px 15px rgb(103, 219, 182));
}
div.imagen33 img {
  filter: drop-shadow(10px 0px 20px rgb(22, 55, 164));
}
div.imagen34 img {
  filter: drop-shadow(0px 0px 30px rgb(52, 178, 231));
}
div.imagen35 img {
  filter: drop-shadow(0px 0px 20px rgb(42, 156, 243));
}
div.imagen36 img {
  filter: drop-shadow(10px 10px 20px rgb(201, 157, 24));
}
div.imagen37 img {
  filter: drop-shadow(10px 10px 10px rgb(53, 30, 182));
}
div.imagen38 img {
  filter: drop-shadow(10px 10px 10px rgb(219, 152, 28));
}
div.imagen39 img {
  filter: drop-shadow(10px 10px 20px rgb(181, 124, 235));
}
div.imagen40 img {
  filter: drop-shadow(0px 0px 10px rgb(119, 0, 255));
}
div.imagen41 img {
  filter: drop-shadow(5px 5px 10px rgb(255, 136, 0));
}
div.imagen42 img {
  filter: drop-shadow(20px 20px 20px rgb(77, 38, 3));
}
div.imagen43 img {
  filter: drop-shadow(0px 0px 10px rgb(255, 2, 221));
}
div.imagen44 img {
  filter: drop-shadow(5px 5px 20px rgb(153, 85, 199));
}
div.imagen45 img {
  filter: drop-shadow(20px 20px 20px rgb(108, 194, 82));
}
div.imagen46 img {
  filter: drop-shadow(4px 4px 10px rgb(110, 3, 48));
}
div.imagen47 img {
  filter: drop-shadow(5px 5px 10px rgb(52, 175, 52));
}
div.imagen48 img {
  filter: drop-shadow(5px 20px 20px rgb(233, 169, 241));
}
div.imagen49 img {
  filter: drop-shadow(5px 5px 10px rgb(171, 128, 228));
}
div.imagen50 img {
  filter: drop-shadow(10px 5px 20px rgb(175, 49, 49));
}
div.imagen51 img {
  filter: drop-shadow(5px 5px 20px rgb(255, 0, 0));
}
div.imagen52 img {
  filter: drop-shadow(10px 10px 20px rgb(30, 124, 37));
}
div.imagen53 img {
  filter: drop-shadow(20px 20px 20px rgb(230, 224, 146));
}
div.imagen54 img {
  filter: drop-shadow(10px 15px 20px rgb(24, 65, 11));
}
div.imagen55 img {
  filter: drop-shadow(20px 20px 20px rgb(187, 139, 6));
}
div.imagen56 img {
  filter: drop-shadow(10px 10px 20px rgb(38, 141, 209));
}
div.imagen57 img {
  filter: drop-shadow(10px 20px 20px rgb(233, 162, 55));
}
div.imagen58 img {
  filter: drop-shadow(10px 10px 10px rgb(144, 197, 233));
}
